*~ 
*.tmp
*.csv
*.pdf
*.zip
*.txt
*.odt
*.ods
*.log
*.py
*.R
!AppleProject/Code/PloidismExploration.R
!AppleProject/AppleProject.Rmd
AppleProject/Data/
AppleProject/Pngs/
CreateUKMarineSpeciesIDGuide/WebScrapeImages/
!CreateUKMarineSpeciesIDGuide/WebScrape.py
CodeScratch/
FinalsStudying/
General/
SussexARMSProject/